@import '../root.scss';
// @import url(../assets/fonts/Inter/inter.face.scss);

* {
    font-family: 'Inter', sans-serif !important;
}

.OptionsMain {
    .CopyButton {
        img {
            width: 24px !important;
            height: 24px !important;
        }
    }
}
