@tailwind base;
@tailwind components;
@tailwind utilities;

#plasmo-shadow-container {
    & > div {
        left: unset !important;
        right: 0 !important;
    }
}

#vexa-content-ui {
 &.youtube {
    font-size: 1.44rem;

    // :root {
        --base-font-size: 16px; /* Default base font size */
        --base-spacing: 1rem; /* Default base spacing */
    //   }

    .text-base {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }

    .h-9 {
        height: 35.9896px !important;
    }

    .VexaToolbar {
        font-size: 14.4px !important;
    }

    .VexaPauseButton > div{
        padding: 8px !important;
        height: auto !important;

        button {
            @apply p-2 #{!important};
        }
    }

    .VexaMinimizeButton img {
        height: 20px;
        width: 20px;
    }
 }
}

#vexa-content-div {
    position: fixed;
    width: 400px;
    height: calc(100vh - 32px) !important;
    min-height: 500px;
    top: 0;
    overflow: hidden;
    right: 0;
    
    @apply bg-slate-950;
    // scrollbar-gutter: stable;

    * {
        font-family: 'Inter', sans-serif !important;

        ::-webkit-scrollbar {
            // display: auto;
        }

        ::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #0C111D;
            border-radius: 4px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #272829;
            border-radius: 4px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #333741;
        }
    }
}